body {
    background-color: #191d21;
    color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
#b_logowanie  {
    background-color: dodgerblue;
    font-size: 24px;
    padding: 7px;
    color:whitesmoke;
    border-radius: 5px;
    border: none;
    border: 1px solid whitesmoke;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#b_logowanie:hover {
    color: #555555;
    border: 1px solid #111111;
}
.logging {
    width: 25%;
    height: 57px;
}
#title {
    width: 75%;
    float: left;
    
}
a:hover {
    color: #bbbbbb;
}
a {
    color: white;
    text-decoration: none;
}
#headerv1 {
    margin-left: auto;
    margin-right: auto;
    background-color: #191d21;
    width: 100%;
    height: 100px;
    border-bottom: whitesmoke 1px solid;
    
}
#tytul {
    text-align: center;
    font-size: 48px;
    margin: 0;
    margin-top: 15px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.menu {
    text-decoration: none;
    color: white;
    float:left;
    margin-left: auto;
    margin-right: auto;
}
ul {
    width: 92%;
}
li {
    display: inline;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 26px;
    padding-left: 7px;
    padding-right: 7px;
    border-left: white 1px dashed;
    transition: 1s all ease-in-out;
}
#topnav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: center;
    background-color: #333333;
    border-bottom: whitesmoke 1px solid;
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    font-size: 20px;
}
.container2 {
    width: 1000px;
    padding-left: 20px;
    font-size: 20px;
    float:left;
    margin-left: 115px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
#footer {
    text-align: center;
    font-size: 22px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
    background-color: #111111;
    letter-spacing: 1px;
}
#naglowki {
    margin-left: 20px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 350px;
}

.title {
    width: 700px;
    height: 50px;
    float: left;
    text-align: center;
    border: 1px solid whitesmoke;
}





/*WYWOÅANIE datalist SCHOWANEJ
ol>li>ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}
ol>li:hover>ul
{
    display: block;
}
/*TUTAJ KONIEC
ol>li>ul>li
{
    background-color: #cf6969;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #751b1b;
}
ol>li>ul>li:hover
{
    background-color: #c34f4f;
}
ol>li>ul>li > a:hover
{
    color: #451717;
}

.navv2
{
    width: 100%;
    padding: 10px 0;
    background-color: #c34f4f;
    text-align: center;
    border-bottom: 1px solid #751b1b;
    border-top: 1px solid #751b1b;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type:none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;

}
ol a
{
    color: white;
    text-decoration: none;
    display: block;
}
ol > li
{
    float:left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed #751b1b;
    
}
ol >li:first-child
{
    border-left: 1px dashed #751b1b;
}
ol >li:hover
{
    background-color: #cf6969;
}
ol > li > a:hover
{
    color: #451717;
}
*/
